@model UserProfileVm
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<!-- My Account Tab Menu Start -->
				<div class="col-lg-3 col-12">
					<div class="myaccount-tab-menu nav" role="tablist">
						<a href="#dashboad" class="@(ViewBag.Tab=="dashboard"?"active":"")" data-bs-toggle="tab">
							<i class="fas fa-tachometer-alt"></i>
							Dashboard
						</a>
						<a href="#orders" class="@(ViewBag.Tab=="orders"?"active":"")" data-bs-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
						
						<a href="#account-info" class="@(ViewBag.Tab=="accountdetail"?"active":"")" data-bs-toggle="tab">
							<i class="fa fa-user"></i> Account
							Details
						</a>
						<a href="login-register.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</div>
				</div>
				<!-- My Account Tab Menu End -->
				<!-- My Account Tab Content Start -->
				<div class="col-lg-9 col-12 mt--30 mt-lg--0">
					<div class="tab-content" id="myaccountContent">
						<!-- Single Tab Content Start -->
						<div class="tab-pane fade @(ViewBag.Tab == "dashboard" ? "show active" : "")" id="dashboad" role="tabpanel">
							<div class="myaccount-content">
								<h3>Dashboard</h3>
								<div class="welcome mb-20">
									<p>
										Hello, <strong>@Model.UserProfileUpdateVm.FullName</strong> (If Not <strong>
											@Model.UserProfileUpdateVm.FullName
											!
										</strong><a asp-action="logout" class="logout">
											Logout
										</a>)
									</p>
								</div>
								<p class="mb-0">
									From your account dashboard. you can easily check &amp; view
									your
									recent orders, manage your shipping and billing addresses and edit your
									password and account details.
								</p>
							</div>
						</div>
						<!-- Single Tab Content End -->
						<!-- Single Tab Content Start -->
						<div class="tab-pane fade @(ViewBag.Tab == "orders" ? "show active" : "")" id="orders" role="tabpanel">
							<div class="myaccount-content">
								<h3>Orders</h3>
								<div class="myaccount-table table-responsive text-center">
									<table class="table table-bordered">
										<thead class="thead-light">
											<tr>
												<th>No</th>
												<th>Name</th>
												<th>Date</th>
												<th>Status</th>
												<th>Total</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Mostarizing Oil</td>
												<td>Aug 22, 2018</td>
												<td>Pending</td>
												<td>$45</td>
												<td><a href="cart.html" class="btn">View</a></td>
											</tr>
											<tr>
												<td>2</td>
												<td>Katopeno Altuni</td>
												<td>July 22, 2018</td>
												<td>Approved</td>
												<td>$100</td>
												<td><a href="cart.html" class="btn">View</a></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Murikhete Paris</td>
												<td>June 12, 2017</td>
												<td>On Hold</td>
												<td>$99</td>
												<td><a href="cart.html" class="btn">View</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Single Tab Content End -->
						<!-- Single Tab Content Start -->
					
						<!-- Single Tab Content End -->
						<!-- Single Tab Content Start -->
						
						<!-- Single Tab Content End -->
						<!-- Single Tab Content Start -->
						
						<!-- Single Tab Content End -->
						<!-- Single Tab Content Start -->
						<div class="tab-pane fade @(ViewBag.Tab == "accountdetail" ? "show active" : "")" id="account-info" role="tabpanel">
							<div class="myaccount-content">
								<h3>Account Details</h3>
								<div class="account-details-form">
									@await Html.PartialAsync("_UserUpdatePartial",Model.UserProfileUpdateVm)
								</div>
							</div>
						</div>
						<!-- Single Tab Content End -->
					</div>
				</div>
				<!-- My Account Tab Content End -->
			</div>
		</div>
	</div>
</div>
@section scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}