@model UserProfileVm
@{
    int orderCount = 1;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- My Account Tab Menu Start -->
                <div class="col-lg-3 col-12">
                    <div class="myaccount-tab-menu nav" role="tablist">
                        <a href="#dashboad" class="@(ViewBag.Tab=="dashboard"?"active":"")" data-bs-toggle="tab">
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard
                        </a>
                        <a href="#orders" class="@(ViewBag.Tab=="orders"?"active":"")" data-bs-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

                        <a href="#account-info" class="@(ViewBag.Tab=="accountdetail"?"active":"")" data-bs-toggle="tab">
                            <i class="fa fa-user"></i> Account
                            Details
                        </a>
                        <a href="login-register.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
                <!-- My Account Tab Menu End -->
                <!-- My Account Tab Content Start -->
                <div class="col-lg-9 col-12 mt--30 mt-lg--0">
                    <div class="tab-content" id="myaccountContent">
                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade @(ViewBag.Tab == "dashboard" ? "show active" : "")" id="dashboad" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Dashboard</h3>
                                <div class="welcome mb-20">
                                    <p>
                                        Hello, <strong>@Model.UserProfileUpdateVm.FullName</strong> (If Not <strong>
                                            @Model.UserProfileUpdateVm.FullName
                                            !
                                        </strong><a asp-action="logout" class="logout">
                                            Logout
                                        </a>)
                                    </p>
                                </div>
                                <p class="mb-0">
                                    From your account dashboard. you can easily check &amp; view
                                    your
                                    recent orders, manage your shipping and billing addresses and edit your
                                    password and account details.
                                </p>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->
                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade @(ViewBag.Tab == "orders" ? "show active" : "")" id="orders" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Orders</h3>
                                <div class="myaccount-table table-responsive text-center">
                                    <table class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var order in Model.Orders)
                                            {
                                                <tr>
                                                    <td>@orderCount</td>
                                                    <td>@order.AppUser.FullName</td>
                                                    <td>@order.CreatedDate.ToString("dd MM yyyy")</td>
                                                    <td>@order.OrderStatus</td>
                                                    <td>$@order.TotalPrice</td>
                                                    <td>
                                                        @if (order.OrderStatus == OrderStatus.Pending)
                                                        {
                                                            <a asp-action="cancel" asp-controller="Order" asp-route-orderId="@order.Id" class="btn">Cancel</a>
                                                        }
                                                        <a asp-action="getorderitems" asp-controller="Order" asp-route-orderId="@order.Id" class="btn getorderitems">View</a>
                                                    </td>
                                                </tr>
                                                orderCount++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->
                        <!-- Single Tab Content Start -->
                        <!-- Single Tab Content End -->
                        <!-- Single Tab Content Start -->
                        <!-- Single Tab Content End -->
                        <!-- Single Tab Content Start -->
                        <!-- Single Tab Content End -->
                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade @(ViewBag.Tab == "accountdetail" ? "show active" : "")" id="account-info" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Account Details</h3>
                                <div class="account-details-form">
                                    @await Html.PartialAsync("_UserUpdatePartial", Model.UserProfileUpdateVm)
                                </div>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->
                    </div>
                </div>
                <!-- My Account Tab Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade modal-quick-view" id="orderItemModal" tabindex="-1" role="dialog"
     aria-labelledby="orderItemModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}