@model Book
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Name: @Model.Name</div>
            <div class="p-3 border bg-light">Description: @Model.Description</div>
            <div class="p-3 border bg-light">CreatedDate: @Model.CreatedDate</div>
            <div class="p-3 border bg-light">CostPrice: @Model.CostPrice</div>
            <div class="p-3 border bg-light">SalePrice: @Model.SalePrice</div>
            <div class="p-3 border bg-light">Author: @Model.Author.Name</div>
            <div class="p-3 border bg-light">Genre: @Model.Genre.Name</div>
            @foreach(var image in Model.BookImages)
            {
                <div>
                <img src="~/assets/image/products/@image.Name" width="100" height="100" />
                    @if(image.Status!=true)
                    {
                        <a class="btn btn-outline-primary" asp-action="DeleteBookImage" asp-route-id="@image.Id">Delete</a>
                        <a class="btn btn-outline-primary" asp-action="SetMainImage" asp-route-id="@image.Id">Set Main</a>
                    }
                </div>
            }
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" asp-action="index">Go back</a>
        </div>
    </div>
</div>
