@model Book
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice"></label>
                <input asp-for="SalePrice" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="SalePrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice"></label>
                <input asp-for="CostPrice" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="CostPrice"></span>
            </div>
            <div class="row">
                <div class="form-group m-3">
                    <label asp-for="IsFeatured"></label>
                    <input asp-for="IsFeatured" class="form-control" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="IsFeatured"></span>
                </div>
                <div class="form-group m-3">
                    <label asp-for="IsNew"></label>
                    <input asp-for="IsNew" class="form-control" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="IsNew"></span>
                </div>
                <div class="form-group m-3">
                    <label asp-for="IsStock"></label>
                    <input asp-for="IsStock" class="form-control" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="IsStock"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Rate"></label>
                <input asp-for="Rate" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Rate"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photos"></label>
                <input asp-for="Photos" class="form-control" aria-describedby="emailHelp">
                <span>Old Images</span>
                @foreach (var image in Model.BookImages)
                {
                    @if (image.Status != true)
                    {
                        <a class="btn btn-outline-primary" asp-action="DeleteBookImage" asp-route-id="@image.Id"><i class="fa-solid fa-trash-can"></i></a>
                        <a class="btn btn-outline-primary" asp-action="SetMainImage" asp-route-id="@image.Id"><i class="fa-regular fa-file-image"></i></a>
                    }
                    <img width="150" height="150" src="~/assets/image/products/@image.Name" alt="Alternate Text" />
                   
                }
                <div class="bookImagesPreview">
                   
                </div>
                <span class="text-danger" asp-validation-for="Photos"></span>
            </div>
            <div class="form-group">
                <span>Author Name</span>
                <select class="form-select" asp-for="AuthorId" asp-items=' new SelectList(ViewBag.Authors,"Id","Name")'>
                </select>
            </div>
            <div class="form-group">
                <span>Genre Name</span>
                <select class="form-select" asp-for="GenreId" asp-items=' new SelectList(ViewBag.Genres,"Id","Name")'>
                </select>
            </div>
       @*<div class="form-group">
                <span>select tags</span>
                <select class="form-select" asp-for="tagids">
                    <option disabled>select tags</option>
                    @foreach (var tag in viewbag.tags)
                    {
                        <option @(model.booktags.any(b => b.tagid == tag.id) ? "selected" : "") value="@tag.id">@tag.name</option>
                    }
                </select>
         </div>  *@
            <div class="form-group">
                <select asp-for="TagIds">

                @foreach (Tag tag in ViewBag.Tags)
                {
                   <option value="@tag.Id">@tag.Name</option>
                }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}
@* <div class="form-group">
            <span>Tags</span>
            <select class="form-select" asp-for="TagIds">
            @foreach (var tag in ViewBag.Tags)
            {
            @if (Model.BookTags.Any(b=>b.TagId==tag.Id))
            {
            <option selected value="@tag.Id">@tag.Name</option>
            }
            else
            {
            <option value = "@tag.Id" > @tag.Name </option >
            }
            }
            </select>
            </div>
            <div class="form-group">
                <span>Tags</span>
                <select class="form-select" asp-for="TagIds" asp-items=' new SelectList(ViewBag.Tags,"Id","Name")'>

                </select>
            </div> *@
